# =========================
# DEPENDENCIES
# =========================
node_modules
.pnp
.pnp.*

# =========================
# BUILD OUTPUTS
# =========================
.next
dist
build
out
coverage
storybook-static

# =========================
# TURBO / CACHE
# =========================
.turbo
.cache

# =========================
# ENV FILES
# =========================
.env
.env.*
!.env.example

# =========================
# NEXT.JS
# =========================
next-env.d.ts

# =========================
# LOGS
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITORS
# =========================
.vscode
.idea

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# SANITY
# =========================
.sanity
sanity/build

# =========================
# DEPLOYMENT
# =========================
.vercel
*storybook.log
