@import url('https://fonts.googleapis.com/css2?family=Abel&family=Assistant:wght@200..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* colors */
  --color-brand-primary-50: #f0f9ff;
  --color-brand-primary-100: #e1f3fd;
  --color-brand-primary-200: #bbe8fc;
  --color-brand-primary-300: #80d6f9;
  --color-brand-primary-400: #3cc1f4;
  --color-brand-primary-500: #13a9e4;
  --color-brand-primary-600: #0688c3;
  --color-brand-primary-700: #066d9e;
  --color-brand-primary-800: #0a5c82;
  --color-brand-primary-900: #0e4c6c;
  --color-brand-primary-950: #0b3954;

  --color-brand-accent-50: #f3f7fb;
  --color-brand-accent-100: #e3edf6;
  --color-brand-accent-200: #bfd7ea;
  --color-brand-accent-300: #accde4;
  --color-brand-accent-400: #85b2d5;
  --color-brand-accent-500: #6898c9;
  --color-brand-accent-600: #5480bc;
  --color-brand-accent-700: #4a6eab;
  --color-brand-accent-800: #415b8c;
  --color-brand-accent-900: #384d70;
  --color-brand-accent-950: #263145;

  --color-brand-error-50: #fff1f1;
  --color-brand-error-100: #ffe2e1;
  --color-brand-error-200: #ffc8c7;
  --color-brand-error-300: #ffa2a0;
  --color-brand-error-400: #ff6663;
  --color-brand-error-500: #f83f3b;
  --color-brand-error-600: #e5211d;
  --color-brand-error-700: #c11714;
  --color-brand-error-800: #a01714;
  --color-brand-error-900: #841a18;
  --color-brand-error-950: #480807;

  --color-brand-success-50: #fbffe7;
  --color-brand-success-100: #f3ffc4;
  --color-brand-success-200: #eaff8f;
  --color-brand-success-300: #e0ff4f;
  --color-brand-success-400: #d5fa1b;
  --color-brand-success-500: #c2e505;
  --color-brand-success-600: #a8bf00;
  --color-brand-success-700: #899504;
  --color-brand-success-800: #72780b;
  --color-brand-success-900: #63660f;
  --color-brand-success-950: #383a04;

  --color-brand-neutral-50: #fafafa;
  --color-brand-neutral-100: #f2f2f2;
  --color-brand-neutral-200: #e6e6e6;
  --color-brand-neutral-300: #d6d6d6;
  --color-brand-neutral-400: #a5a5a5;
  --color-brand-neutral-500: #767676;
  --color-brand-neutral-600: #575757;
  --color-brand-neutral-700: #434343;
  --color-brand-neutral-800: #292929;
  --color-brand-neutral-900: #1a1a1a;
  --color-brand-neutral-950: #0a0a0a;

  /* typography */
  /* font families */
  --font-heading: 'Assistant', sans-serif;
  --font-body: 'Abel', sans-serif;

  /* font sizes */
  --text-fs-900: 4.5rem;
  --text-fs-800: 3.75rem;
  --text-fs-700: 3rem;
  --text-fs-600: 2.25rem;
  --text-fs-500: 1.5rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* breakpoints */
  --breakpoint-lg: 1000px;
  --breakpoint-md: 760px;
  --breakpoint-sm: 560px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body bg-brand-neutral-50 text-brand-neutral-950 leading-normal tracking-normal overflow-x-hidden dark:bg-brand-neutral-900 dark:text-brand-neutral-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-none text-balance font-heading;
  }

  p {
    @apply text-pretty;
  }
}

@utility form-error-message {
  @apply italic text-fs-300 text-brand-error-600;
}

@utility form-label {
  @apply block after:absolute after:content-["*"] after:ml-0.5 relative after:text-brand-error-600;
}

@utility divider {
  @apply my-2 w-[80%] mx-auto h-px bg-brand-neutral-950/10 dark:bg-brand-neutral-50/10;
}
